[submodule "tools"]
	path = tools
	url = https://github.com/ei06125/cpp-build-tools.git
x
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "include"]
	path = include
	url = https://github.com/ei06125/cpp-standard-library-pch.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
